<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aprv.mapper.UserMapper">

    <select id="getLogin" resultType="map">
        select
                usr_id,
                usr_pass,
                usr_email,
                usr_address,
                usr_phone,
                usr_position,
                usr_name,
                (
                    select
                            cod_name
                        from tbl_aprv_code
                        where cod_id = usr_position
                ) as usr_position_nm
        from tbl_aprv_user
        where usr_id =  #{ id }
    </select>

</mapper>