<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aprv.mapper.WriteMapper">

    <select id="getList" resultType="map">
        select
                hst_id,
                hst_brd_id,
                hst_approved_at,
                hst_approved_by,
                hst_status,
                (
                    select
                            cod_name
                        from tbl_aprv_code
                        where cod_id = hst_status
                ) as hst_status_name
            from tbl_aprv_history
            where hst_brd_id = #{ brd_id }
    </select>


    <select id="getBoardView" resultType="map">
        select
                brd_id,
                brd_content,
                brd_title,
                brd_status,
                (
                    select
                            usr_name
                        from tbl_aprv_user
                        where usr_id = brd_created_by
                ) as brd_created_name,
                (
                    select
                            cod_name
                        from tbl_aprv_code
                        where cod_id = brd_status
                ) as brd_status_name
            from tbl_aprv_board
            where brd_id = #{ brd_id }
    </select>

    <select id="goNextBrdId" resultType="int">
        select
                IFNULL(MAX(brd_id),0) + 1 as next_brd_id
            from tbl_aprv_board
    </select>

    <insert id="goBoardInsert" parameterType="hashMap">
        insert into tbl_aprv_board
            (
                brd_id,
                brd_content,
                brd_created_by,
                brd_status,
                brd_title,
                brd_created_at
            ) values (
                #{brd_id},
                #{brd_content},
                #{userId},
                #{brd_status},
                #{brd_title},
                '2023-03-01'
            )
    </insert>

<!--    <insert id="goBoardInsert">-->
<!--        insert into tbl_aprv_board-->
<!--        (-->
<!--            hst_id-->
<!--            hst_brd_id-->
<!--            hst_approved_at-->
<!--            hst_approved_by-->
<!--            hst_status-->
<!--        ) values (-->
<!--            #{param.brd_id},-->
<!--            #{param.brd_content},-->
<!--            #{param.brd_id},-->
<!--            #{param.brd_status},-->
<!--            #{param.brd_title},-->
<!--        )-->
<!--    </insert>-->




<!--    int goBoardInsert();-->

<!--    int goHistoryInsert();-->



</mapper>